@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title.</h2>

<p>Reuse é um site aonde você pode anunciar seus pertences não necessários para outras pessoas, além de pedir por 
    determinado item para outras, formando uma comunidade de trocas mutua, os principais objetivos são incentivar o 
    reaproveitamento de produtos e evitar o sucateamento dos mesmos na natureza.</p>
<p>Ofereçemos também espaço para instituições de caridades se cadastrarem para exibir suas causas e pedir por doações, um
    produto que alguém não usa mais pode ajudar uma instituição, fazendo com que a coisa certa esteja no lugar certo.</p>
<p>Promovemos o conceito de sustentabilidade, se você usa o site para doar algum produto, ou pede por um item que ia para
    um lixão, você ajuda a diminuir a poluição do meio-ambiente e contribui para o reaproveitamento de material usando menos
    recursos do planeta também!</p>
<p>Sobre o negócio? O intuito é manter o site todo gratuito para usar, não é cobrado nenhuma taxa para ofereçer ou pedir um produto,
    nem instituições são cobradas e não há vantagens para as mesmas à serem obtidas por dinheiro, o Reuse é totalmente gratuito de se
    usar, aceitamos porém, doações em dinheiro com o propósito de apoiar a equipe de desenvolvimento e ajudar a manter o site no ar.</p>
<p>Como funciona</p>
<ol>
    <li>Crie uma conta, você pode se conectar com sua conta do Facebook ou Google também.</li>
    <li>Clique em 'Criar uma oferta'</li>
    <li>Preencha o formulário para adicionar o seu item a lista do nosso site</li>
    <li>Aguarde a algum interessado querer seu item</li>
    <li>Seu item agora é de grande valia para o outro :D</li>
    <li>Não se esqueça de dar uma olhada na lista de ofertas também, vai que tem algo legal :)</li>
</ol>
<p><strong>Tenha cuidado,</strong> sempre há risco quando se encontra com estranhos em qualquer situação, tome as mesmas preocauções
    de quando vai se encontrar com desconhecidos para a entrega do produto (Reuse não toma responsabilidade por qualquer risco que 
    ocorra durante a troca dos produtos.)</p>