@{
    ViewBag.Title = "Contato";
}
<div class="row">
    <div class="12u">
        <!-- Contact -->
        <section class="widget contact last">
            <h2>@ViewBag.Title.</h2>
            <p>Envie uma mensagem em caso de dúvidas ou para contato direto pelo formulario abaixo:</p>
            <form method="post" action="/Home/sendMessage" class="12u">
                <div class="row">
                    <div class="4u">
                        <label for="nome">Nome</label>
                        <input type="text" id="nome" name="nome" />
                    </div>
                    <div class="4u">
                        <label for="email">Email</label>
                        <input type="email" id="email" name="email" />
                    </div>
                </div>
                <div class="row">
                    <div class="12u">
                        <label for="mensagem">Mensagem</label>
                        <textarea id="mensagem" name="mensagem"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="4u">
                        <input type="submit" class="btn" value="Enviar" />
                    </div>
                </div>
            </form>
        </section>

    </div>
</div>