@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>

<p>Envie uma mensagem em caso de dúvidas ou para contato direto pelo email abaixo:</p>

<address>
    <strong>Bruno Hamann (Dono):</strong>   <a href="mailto:jbrunoxd@gmail.com">jbrunoxd@gmail.com</a>
</address>